.filter{
    background-color: #0097e6;
    padding: 15px 10px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
@media (min-width:767px) {
    .filter{
        border-radius: 10px;
    }
}